<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website Title -->
    <title>Hostel Complaint Management System - Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Welcome {{ username }}</h1>

    <div class="box">

        <h2>Your Complaints</h2>

        {% for complaint in complaints %}

        <div class="complaint-card">

            <p>{{ complaint[2] }}</p>

            {% if complaint[3] == "Pending" %}

                <span class="pending">
                    {{ complaint[3] }}
                </span>

            {% else %}

                <span class="resolved">
                    {{ complaint[3] }}
                </span>

            {% endif %}

        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>

